<!DOCTYPE html>
<html>
<head>
<title>商品信息</title>
#parse("sys/header.html")
	<script src="${rc.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("product:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("product:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("product:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">商品名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.productName" placeholder="商品名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">联系人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.contacts" placeholder="联系人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">连接地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.productUrl" placeholder="连接地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">主图</div>
			   	<div class="col-sm-10">
			      <input type="hidden" class="form-control" id="productImage1" v-model="product.productImage1" placeholder="主图"/>
					<img id="myproductImage1" :src="product.productImage1" width="107" height="98">
					<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">手机图</div>
			   	<div class="col-sm-10">
			      <input type="hidden" class="form-control" id="productImage2" v-model="product.productImage2" placeholder="手机图"/>

					<img id="myproductImage2" :src="product.productImage2"    width="107" height="98">
					<a class="btn btn-primary" id="upload2"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">商品描述</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.remark" placeholder="商品描述"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">商品类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.productType" placeholder="商品类型"/>
			    </div>
			</div>
			<!--<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.createData" placeholder="创建时间"/>
			    </div>
			</div>-->
							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/generator/product.js?_${date.systemTime}"></script>
</body>
</html>